<%- include('./layouts/header') %>
    <div class="form_container">
        <!-- Login Form -->
        <div class="form login_form">
            <form id="loginForm" action="/auth/reset-pass" method="POST">
                <h2>Login</h2>
                <div class="input_box">
                    <input type="email" name="email" placeholder="Enter your email" required />
                    <i class="uil uil-envelope-alt email"></i>
                </div>
                <button type="submit" class="button">Reset Password</button>
                <div id="error-message" class="error-message" style="color: red; margin-top: 10px; display: none;"></div>
            </form>
        </div>
    </div>
<%- include('./layouts/footer') %>